@import "../../main.scss";

header {
  background: #fff;
  margin: auto -16px;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba($color-black, 0.15);
  box-shadow: 0 0 10px 0 rgba($color-black, 0.1);

  & .menu-icon {
    color: $color-grey;
    font-size: 2.5rem;
    vertical-align: middle;
  }

  & .main-title {
    color: $color-grey;
    font-weight: 500;
    font-size: 2.2rem;
    display: inline-block;
    margin: 0 1rem;
    vertical-align: middle;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &-logo {
    margin: 1rem 0 0 2rem;
  }

  &-account {
    color: $color-grey;
    font-size: 4.5rem !important;
    margin-right: 2rem;
  }
}
